/* set all HTML elements with border-box sizing */
* { box-sizing: border-box; }

body {
	background-color: #c5c0b8;
	font-family: Calibri, Arial, Serif;
}

header {
	background-color: #004080;
	height: 150px;
	padding: 5px;    
}

.header-logo {
	font-family: Calibri, Arial, serif;
	font-size: 65px;
	color: #c5c0b8;
	text-align: center;
}

header h2 {
	font-family: Calibri, Arial, serif;
	font-size: 30px;
	color: #c5c0b8;
	text-align: center;	
}
main {
	font-family: Calibri, Arial, serif;
	font-size: 20px;
	
}
section {
	margin: auto;
    width: 50%;
    padding: 10px;
}

footer {
	background-color: #004080;
	font-size: 30px;
	height: 150px;
	padding: 30px;
	margin: 0;
}
footer h2 {
	color: #c5c0b8;
	text-align: center;
}
	
/* ---Heading Types--- */
h1, h2, h3 {
	font-family: Calibri, Arial, serif;
	color: black;
	text-align: center;
	font-weight: 500;
}


/* ---Pseudo-class elements--- */

/* unvisited link */
a:link {
	color: #0000a0;
}

/* visited link */
a:visited {
	color: #ff6b24;
}

/* mouse over link */
a:hover {
	color: #403933;
}

/* selected link */
a:active {
	color: #403933;
} 

/* ---profile image display--- */
img { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid blue;
} 	
	
	
	
	
